 /* hero-section style */
   .section-b{background-image: url(../images/background/image.jpg);
    height: 200px;
    padding:100px;
    background-position:center ;
    background-repeat:no-repeat ;
    background-size:cover ;
    background-attachment: fixed;
    font-size:15px;
    box-shadow: inset 0 6px 20px  100px rgba(0, 0, 0, 0);
    
    
}
h1,h2,h3,h4,h5{font-family: 'Roboto', sans-serif; }


.section-b> h1{
padding: 1px 20px;
background-color:#11122b;
color: #cbcbcb;
border-radius: 2px;
width:170px;
}
.section-b>
h2{  background-color: #cea145;
color:#11122b;
margin-top: 15px;
padding: 1px 2px;
border-radius:2px ;
width:200px;
 } 
.line-bottom>.bottom{ 
  display: flex;
  background-image: url(../images/background/fries-multiply-bg.jpg);
  justify-content: space-between;
  width:1400px;
  height:280px;
  align-items: center; 
  /* box shadow */
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(12, 6, 6, 0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
} 
.line-bottom> .bottom>.column{
  padding:50px ;
  margin: 52px;
  border-bottom:5px solid transparent ;
  border-radius:10px;
  transition: 1s;
}
 


.line-bottom>.bottom> .column:hover{
  border-bottom: 5px solid #11122b;
}   
.line-bottom>.bottom>.column:nth-child(1)
{  font-size:1em ;}
  .line-bottom>.bottom>.column:nth-child(1):hover{
    letter-spacing: 1px;
    }
  .line-bottom>.bottom>.column:nth-child(2){
font-size:1em ;
font-weight:20px;
/* height:30px ; */
transition: 1s;

}
.line-bottom>.bottom>.column .p:nth-child(2)

{

font-size: 30px;


}

.line-bottom>.bottom>.column:nth-child(2):hover{
letter-spacing:1px;
}



.line-bottom>.bottom>.column:nth-child(3){
  letter-spacing: 2px;
  transition: 1s;
}
.line-bottom>.bottom>.column:nth-child(3):hover{
  letter-spacing: 1px;
  }

  .line-bottom>.bottom> .column i{
    font-size:30px ;
  }
  .second-header{

position: relative;
height: 400px;
overflow: hidden;

  }

.second-header > .header-bg{
position: absolute;
top: 0%;
bottom: 0%;
right: 0;
left: 0;
height: 100%;
width: 100%;
background-repeat: no-repeat;
background-size:100% ;
transform: skewY(-6deg);
transform-origin: top left;
filter: brightness(50%);
}
.second-header-wrapper{
position: absolute;
justify-content: center;
display: flex;
width: 100vw;

}

.second-wrapper{
width: 1000px;
display:flex;
justify-content:space-between;
align-items: center;

}
.heading-wrapper{
background-color:#cea135;
color: #11122b;
border-bottom-left-radius:2px ;
border-bottom-right-radius:2px ;
width: 175px;
padding: 10px;
text-align: center;


}
.heading-wrapper h1{
  color: #11122b;

}

.page-wrapper{
display: flex;
justify-content: center;

}
.page-wrapper .content-wrapper {
width: 1000px;

}
.page-wrapper .content-wrapper >#chef{
width: 350px;
margin: 23px 40px 20px 0px;
float: left;
border: 1px solid #cea135;


}
.page-wrapper .content-wrapper p{
  line-height:30px ;
  letter-spacing :1px; 
}

.squares-wrapper{
display:flex;
justify-content: center;
}
.squares-wrapper> .squares{

width: 1000px;

} 
.squares-wrapper>.squares>.square{
display:grid;
grid-template-columns:1fr 1fr;
padding-left: 500px;
flex-direction:column-reverse ;
}

.quares-wrapper>.quares>.quare{
  display:grid;
  grid-template-columns:1fr 1fr;
  }

.img-wrapper img{ margin-left: 100px;
padding-bottom:10px;}
.text-wrapper .p1{
  color: red;
}

.square > .img-wrapper{
width: 100%;
} 
.text-wrapper> {
  color:#cea145;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 22px;
}
   
 h1{

  color: #cea145;
}
/* square brid style */
.squares-wraper{

justify-content: center;
display: flex;

}
.squares-wraper >.squaress {

  width: 1000px;
}
.squares-wraper >.squaress .squaree {

display: grid;
grid-template-columns: 1fr 1fr;

}
.squaree .img-wrapa img{

  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-top: -5px;
}
.anchor-link{


text-decoration: none;
}
.anchor-link:focus{

  outline: none;
}
 

.anchor-link h1::after{
  font-family: "font Awosome 5 free";
  font-weight: 900px;
}
.text-wraper H2{
color:#cea145;
margin-left: 150px;
}